:root {
    --primary-color: #1c9c13;  
    --secondary-color: #2b6f0e; 
    --min-height: 50px;        
  }
  
  
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input[type="text"],
  input[type="password"],
  input[type="email"],
  input[type="range"] {
    display: block;
  }
  
  .form1 {
    display: flex;
    flex-direction: column;
  }
  
  main {
    width: 90%;
    margin: 0 auto;
  }
  
  label {
    height: var(--min-height);
  }
  
  input[type="submit"] {
    border: none;
    background-image: linear-gradient(var(--primary-color), var(--secondary-color));  
    color: #fff;
    border-radius: 6px;
    padding: .8rem;
    width: 96%;
    max-width: 400px;
    margin: .2rem 2% 2rem 2%;
    box-shadow: 1px 1px 4px #999;
  }

  .form1 input:required:valid {
    border-left: solid 8px green;
}
  
  @media screen and (min-width: 500px) {
    main {
      width: 400px;
    }
  }
  