@media screen and (min-width: 500px) {
    nav {
        display: flex;
        padding: 5px;
        width: 100%;
        justify-content: space-around;
    }
    #menu {
		display: none; /* hide hamburger button */
	}

	.navigation {
		flex-direction: row;
	}

	.navigation a {
		display: block;
		flex: 1 1 100%;
	}

    .hero {
        font-size: 1.4rem;
    }

    .hero span { 
        width: 50%;
    }

    .cards {
        display: grid;
        grid-template-columns: 2fr 1fr;
    }
    .card {
        box-shadow: 5px 5px 10px rgba(128, 128, 128, 0.5);
    }
    .card a {
        padding: 10px;
    }

    iframe {
        height: 500px;
    }
}